.header{
    width: 100%;
    height: 100px;
    background-color: fuchsia;
    box-sizing: border-box;
    border: 5px dashed royalblue;
    padding: 15px;
    background-clip: padding-box;
    /* content-box, border-box,  */
}